In [2]:
import pandas as pd
df = pd.read_csv('/content/customer_transactions.csv')
df.head()
print(df.columns)

Index(['Transaction_ID', 'Customer_ID', 'Product_Category', 'Product_Name',
       'Quantity', 'Unit_Price ($)', 'Total_Price ($)', 'Discount Applied (%)',
       'Purchase_Date', 'Payment_Method'],
      dtype='object')

In [3]:
df.columns = df.columns.str.lower().str.replace(' ($)', '').str.replace(' (%)', '').str.replace(' ', '_')
df.columns

Index(['transaction_id', 'customer_id', 'product_category', 'product_name',
       'quantity', 'unit_price', 'total_price', 'discount_applied',
       'purchase_date', 'payment_method'],
      dtype='object')

In [4]:
print(df.isna().sum())
threshold = len(df) * 0.05
threshold

transaction_id        0
customer_id           0
product_category      0
product_name          0
quantity              0
unit_price            0
total_price          49
discount_applied    521
purchase_date         0
payment_method        0
dtype: int64

250.0

In [5]:
cols_to_drop = df.columns[df.isna().sum() <= threshold]
df.dropna(subset=cols_to_drop, inplace=True)
df.isna().sum()

transaction_id        0
customer_id           0
product_category      0
product_name          0
quantity              0
unit_price            0
total_price           0
discount_applied    515
purchase_date         0
payment_method        0
dtype: int64