In [53]:
import pandas as pd
df = pd.read_csv('/content/customer_transactions.csv')

# convert all column names to snake case
df.columns = df.columns.str.lower().str.replace(' ($)', '').str.replace(' (%)', '').str.replace(' ', '_')
df.columns

Index(['transaction_id', 'customer_id', 'product_category', 'product_name',
       'quantity', 'unit_price', 'total_price', 'discount_applied',
       'purchase_date', 'payment_method'],
      dtype='object')

In [54]:
# converting the date column to datetime format
df['purchase_date'] = pd.to_datetime(
    df['purchase_date'], format='mixed', dayfirst= False
    )

# converted payment methods to snakecase
df['payment_method'] = df['payment_method'].str.lower().str.replace(' ', '_')
df['payment_method'].unique()

array(['bank_transfer', 'credit_card', 'paypal'], dtype=object)

# 2️⃣ Creating & Modifying Columns